# ===== Dados pesados =====
Cartografia/dados_brutos/
Cartografia/mapas/*.gpkg

*.gpkg
*.tif
*.zip

# ===== LaTeX =====
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bbl
*.blg
*.bcf
*.auxlock

# ===== PDFs gerados =====
*.pdf

# (se quiser manter PDFs finais, trate caso a caso)

# ===== VS Code =====
.vscode/

# ===== arquivos temporários Excel =====
~$*.xlsx

# ===== backups =====
_backup_git_*